.Order{
  width :100%;
  border : 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  padding : 1rem 2rem;
  margin : 1rem auto; 
  line-height: 1.7;
}

@media (min-width : 600px){
  .Order{
    width : 550px;
  }
}

.Ingredients{
  display : inline-block;
  padding : .25rem .5rem;
  border : 1px solid #ccc;
  margin-right : 1rem;
  font-size : .9em;
}

.Ingredients:last-child{
  margin-right: 0;
}